<form action="/" method="POST">
  <div class="input-group mb-3 mt-3">
    <input type="url" class="form-control" placeholder="Input URL here" name="url" value="{{ originalUrl }}">
    <a href="/" class="btn btn-outline-danger"><i class="fa-solid fa-arrow-rotate-left"></i></a>


    <button type="submit" class="btn btn-outline-primary">Shorten</button>

  </div>
    {{#if shortUrl}}
    <div class="alert alert-success d-flex justify-content-between align-items-center" role="alert">
      <span class="mr-2">Your short url is:</span> <code>{{ shortUrl }} </code>
      <a href="/" class="btn"><i class="fa-regular fa-copy fa-bounce fa-lg"></i></a>
    </div>
    {{/if}}
</form>