<form action="/url/copy" method="GET">
  <div class="input-group mb-3 mt-3">

    <input type="text" class="form-control" placeholder="Input URL here" name="name">

    <a href="/" class="btn btn-outline-secondary"><i class="fa-solid fa-arrow-rotate-left"></i></a>

    {{!-- <a href="/url/copy" class="btn btn-outline-primary">Create</a> --}}
    <button type="submit" class="btn btn-outline-secondary">Shorten</button>

  </div>
</form>