<form action="/url" method="GET">
  <div class="input-group mb-3 mt-3">

    <input type="text" class="form-control" placeholder="Input URL here" name="name">

    <a href="/" class="btn btn-outline-danger"><i class="fa-solid fa-arrow-rotate-left"></i></a>

    <button type="submit" class="btn btn-outline-primary">Shorten</button>

  </div>
</form>