{{!-- <form action="/url" method="POST"> --}}
  <div class="input-group mb-3 mt-3">

    <input type="text" class="form-control" id="url-shortener" placeholder="Input URL here"
      aria-label="Recipient's username" aria-describedby="shorten-button">

    <a href="/" class="btn btn-outline-danger"><i class="fa-solid fa-arrow-rotate-left"></i></a>

    <button class="btn btn-outline-primary" type="button" id="shorten-button">Copy</button>

  </div>
{{!-- </form> --}}